/*---------------Color style------------------------*/
/*------https://coolors.co/palette/cbefaa-bfe97b-72a424-fca3ad-fa7370-fba685-bfbd91-dfce59-e5ee9a-e3dab7----*/
/*------https://coolors.co/palette/ef3e56-f65368-feadbd-88c148-60a61f-bede8a-c8d77c-eceddf-eef2f5-e6b4c4----*/
/*------https://coolors.co/palette/d5d1cd-e6b4c4----*/
/*------
1. html and body height and width
2. required
3. link style
4. general text size adjustment
5. font style and sizes
	- font styles
	- font size
	- custom font size
		- middle >p
6. header
*********
7. sections
	- pre-container
	- container
	- section
8. watermark
9. middle
10. xxxxxxx
11. colors
-------*/
/*---06---*/
/*---------------Style header------------------------*/
#menu	{ margin-bottom:0;}
#menu a:hover
	{text-decoration:underline;}
/*---------------END Style header--------------------*/
/*---07---*/
/*---------------Style Sections----------------------*/
	/*-------Style preContainer------------------*/
.fp-overflow
	{ align-items:unset; }
	/*-------END Style preContainer--------------*/
	/*-------Style container---------------------*/
.timelineContainer
	{
	margin-top:100px;
	width:1000px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	}
	/*-------END Style container-----------------*/
	/*-------Style section_contents_image--------*/
.section
	{
	height:100vh;
	display:flex;
	justify-content:center;
	}
.contents
	{
	width:65%;
	background-color:rgba(50,50,50,.5);
	}
.image
	{
	width:30%;
	background-color:gray;
	}
	/*-------END Style section_contents_image----*/
/*---------------END Style Sections------------------*/
/*---08---*/
/*---09---*/
/*---10---*/
/*---11---*/
/*---------------Style colors------------------------*/
	/*-------Style colors web site name + text---*/
li >h
	{color:black;}
	/*-------END Style colors website name-------*/
	/*-------page colors-main page---------------*/
#section0	{ background-color:#72A424;}
#section1	{ background-color:#FCA3AD;}
#section2	{ background-color:#FA7370;}
#section3	{ background-color:#FBA685;}
#section4	{ background-color:#BFBD91;}
#section5	{ background-color:#DFCE59;}
#section6	{ background-color:#E5EE9A;}
#section7	{ background-color:#E3DAB7;}
#section8	{ background-color:#E5EE9A;}
#section9	{ background-color:#E3DAB7;}
#section10	{ background-color:#5F8B7E;}
	/*-------END page colors-main page-----------*/

/*---------------END Style colors--------------------*/




