/*---------------Color style------------------------*/
/*------https://coolors.co/palette/cbefaa-bfe97b-72a424-fca3ad-fa7370-fba685-bfbd91-dfce59-e5ee9a-e3dab7----*/
/*------https://coolors.co/palette/ef3e56-f65368-feadbd-88c148-60a61f-bede8a-c8d77c-eceddf-eef2f5-e6b4c4----*/
/*------https://coolors.co/palette/d5d1cd-e6b4c4----*/
/*------
1. html and body height and width
2. required
3. link style
4. general text size adjustment
5. font style and sizes
	- font styles
	- font size
	- custom font size
		- middle >p
6. header
7. sections
	- pre-container
	- container
	- section
	- contents
	- images
8. watermark
9. middle
10. navigation
11. colors
12. svg
-------*/
/*---01---*/
/*---------------set html height to full page--------*/
/*---------------END set html height to full page----*/
/*---02---*/
/*---------------Req---------------------------------*/
/*---------------END Req-----------------------------*/
/*---03---*/
/*---------------Style the links---------------------*/
.timelineContainer div a
	{
	text-decoration:underline;
	font-weight:600;
	cursor:pointer;
	}
.timelineContainer div a:hover
	{ color:blue;}

/*---------------END Style the links-----------------*/
/*---04---*/
/*---------------Text size adjustment----------------*/
/*---------------END Text size adjustment------------*/
/*---05---*/
/*---------------Style fonts-------------------------*/
	/*-------Custom Font size+style--------------*/
.section >h3
	{
	font-weight:600;
	position:relative;
	top:60px;
	height:40px;
	/*--background-color:rgba(20,20,20,.5);--*/
	width:100%;
	max-width:800px;
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	}

.section >h3:hover
	{ text-decoration:underline;}

.timelineContainer >div
	{
	font-size:1.8rem;
	line-height:1.5;
	font-weight:400;
	margin-bottom:1rem;
	}

.timelineContainer >h6
	{ margin:0;}

.timelineContainer >h5
	{
	width:100%;
	text-align:center;
	}
#section7 .timelineContainer >div
	{
	font-size:1.7rem;
	line-height:1.5;
	font-weight:400;
	margin-bottom:1rem;
	} 

	/*-------END Custom Font size+style----------*/
/*---------------END Style fonts---------------------*/
/*---06---*/
/*---------------Style header------------------------*/
#menu	{
	margin:0;
	/*---
	padding: 0 60px;
		turn on if width<800px
	---*/
	display:flex;
	justify-content:center;
	height:60px;
	width:100%;
	position:fixed;
	z-index:100;

	}

#menu a:hover
	{text-decoration:underline;}

#menu li
	{ flex:1;}

#menu li:first-child
	{ min-width:350px;}
#menu li:nth-child(2)
	{ max-width:50px;}
#menu li:nth-child(3)
	{ max-width:50px;}

select	{
	width:100px;
	height:35px;
	align-self:center;
	background-color:rgba(10,10,10,0.25);
	border:none;
	border-radius:5px;
	}


/*---------------END Style header--------------------*/
/*---07---*/
/*---------------Style Sections----------------------*/
	/*-------Style preContainer------------------*/
.fp-overflow
	{
	}
.fp-controlArrow
	{ margin-top:unset;}
.fp-slides
	{
	height:calc(100% - 100px);
	top:60px;
	position:relative;
	/*--background-color:rgba(100,0,0, .2)--*/
	}
	/*-------END Style preContainer--------------*/
	/*-------Style container---------------------*/
.timelineContainer
	{
	max-width:800px;
	/*--background-color:rgba(30,30,30,.5)--*/
	}
.timelineContainer div
	{ max-width:100%;}

#timelineContainerS2
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}

#timelineContainerS2 h5, #timelineContainerS2 h6
	{ flex:50%;}

#timelineContainerS2 h6
	{
	text-align:right;
	padding-right:20px;
	line-height:unset;
	}

#timelineContainerS2 h5
	{ text-align:left;}


	/*-------END Style container-----------------*/
	/*-------Style section_contents_image--------*/


	/*-------END Style section_contents_image----*/
	/*-------Style images------------------------*/
#egypt01 { object-position:65%}
	/*-------END Style images--------------------*/

/*---------------END Style Sections------------------*/
/*---08---*/
/*---------------Style watermark---------------------*/
/*---------------END Style watermark-----------------*/
/*---09---*/
/*---------------Style middle------------------------*/
/*---10---*/
/*---------------Style navigation--------------------*/


/*---------------END Style navigation----------------*/
/*---11---*/
/*---------------Style colors------------------------*/
	/*-------Style colors web site name + text---*/
li >h	{ color:black;}

	/*-------END Style colors website name-------*/
	/*-------page colors-main page---------------*/
#section0	{ background: #FFE785 ;}
#section1	{ background: #FFDA59 ;}
#section2	{ background: #FBC15D ;}
#section3	{ background: #FFC340 ;}
#section4	{ background: #FAA300 ;}
#section5	{ background: #D35000 ;}
#section6	{ background: #EB5F24 ;}
#section7	{ background: #FF7F1A ;}
#section8	{ background: #FF9B57 ;}
#section9	{ background: #FFC59E ;}
#section10	{ background: #FF8A89 ;}


#section11	{ background: #F85454 ;}
#section12	{ background: #E41100 ;}
#section13	{ background: #820000 ;}
#section14	{ background: #910100 ;}
#section15	{ background: #ED408B ;}
#section16	{ background: #F2799B ;}
#section17	{ background: #F1AOAF ;}  /*F1A0AF*/
#section18	{ background: #FFA9CB ;}
#section19	{ background: #FFC20B ;}
#section20	{ background: #DDAEE4 ;}

#section21	{ background: #A577B8 ;}
#section22	{ background: #765F93 ;}
#section23	{ background: #A858C8 ;}
#section24	{ background: #7B4384 ;}
#section25	{ background: #2874A6 ;}
#section26	{ background: #83A8D4 ;}
#section27	{ background: #BAE3EA ;}
#section28	{ background: #9BD9DO ;}
#section29	{ background: #9AD4BC ;}
#section30	{ background: #328C8D ;}

#section31	{ background: #396C6A ;}
#section32	{ background: #E41100 ;}
#section33	{ background: #FF8A89 ;}
#section34	{ background: #FF9257 ;}
#section35	{ background: #FF7F1A ;}
	/*-------END page colors-main page-----------*/
	/*-------select menu color-------------------*/
option 
	{ background-color:#F0ECE3;}

option:hover, option:focus
	{ background-color:#5F8B7E;}
	/*-------END select menu color---------------*/
	/*-------dropMenu icon color-----------------*/
li .dropMenuIcon div
	{background-color:black;}

li .dropMenuContent a
	{color:black;}
	/*-------END dropMenu icon color-------------*/
/*---------------END Style colors--------------------*/

/*---12---*/
/*---------------Style SVG---------------------------*/
#timesvg
	{
	width:500px;
	overflow:auto;
	}

/*---------------END Style SVG-----------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------RESPONSIVE DESIGN-------------------*/
/* when screen is less than 800px ------------------ */
@media only screen 
and (max-width : 900px)
{
#menu, .timelineContainer
	{ padding: 0 60px; }
.section >h3
	{ margin-left:60px;}
}

/* when screen height is less than 655px ----------- */
@media only screen 
and (max-height : 655px)
{
#section3 .fp-overflow,
#section7 .fp-overflow,
#section10 .fp-overflow   
	{ align-items:flex-start; }

}


/* iphone14 landscape ------------------------------ */
@media only screen
and (min-width: 216px) 
and (max-width: 615px) 
and (orientation : landscape), 
@media only screen
and (min-width: 248px) 
and (max-width: 693px) 
and (orientation : landscape)
{
.fp-slides
	{
	height:calc(100% - 60px);
	top:30px;
	}
.fp-overflow
	{
	align-items:flex-start;
	padding-left:50px;
	padding-right:50px;
	}
h	/*---website name---*/	
	{
	font-size: 2.4rem;
	font-weight:900;
	}
#menu
	{
	padding: 0 50px;
	height:30px;
	}
.section >h3
	{
	font-size:1.8rem;
	margin-left:50px;
	margin-bottom:0;
	top:30px;
	height:25px;
	}
.timelineContainer
	{
	padding: 10px 0 50px 0;
	overflow:auto;
	}
.timelineContainer >div
	{
	font-size:1.5rem;
	line-height:1.5;
	}

#timelineContainerS2
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}

#timelineContainerS2 h5, #timelineContainerS2 h6
	{ flex:50%}
#timelineContainerS2 h6
	{text-align:right;
	padding-right:10px;
	}
#timelineContainerS2 h5
	{
	font-size:1.5rem;
	text-align:left;
	margin-bottom:1rem;
	}

.fp-arrow 
	{ scale:60%;}

.dropMenu
	{ height:30px;}
.dropMenuContent
	{ top:30px; }
.dropMenuContent a
	{ padding:0 10px;}


}

/* iphone14 portrait ------------------------------- */
@media only screen
and (min-width: 320px) 
and (max-width: 528px) 
and (orientation : portrait), 
@media only screen
and (min-width: 320px) 
and (max-width: 532px) 
and (orientation : portrait)
{
.fp-slides
	{
	height:calc(100% - 65px);
	top:40px;
	}
.fp-overflow
	{
	align-items:flex-start;
	padding:10px 30px;
	}
h	/*---website name---*/	
	{
	font-size: 1.8rem;
	font-weight:900;
	}
#menu
	{
	padding: 0 20px;
	height:40px;
	}
#menu li:first-child
	{ min-width:unset;}
#menu li:nth-child(2)
	{ max-width:30px;}
.section >h3
	{
	font-size:1.8rem;
	margin-left:20px;
	margin-bottom:0;
	height:25px;
	top:40px;
	}
.timelineContainer
	{ padding: 0 0 30px 0; }
.timelineContainer >div
	{
	font-size:1.5rem;
	line-height:1.5;
	text-align:justify;
	}
.fp-arrow 
	{ scale:50% 75%;}
.fp-next{ right:0;}
.fp-prev{ left:0;}

select	{ max-width:70px; }

}


/* iphone14 landscape -edge browser----------------- */
@media only screen
and (min-width: 248px) 
and (max-width: 693px) 
and (orientation : landscape)
{
.fp-slides
	{
	height:calc(100% - 60px);
	top:30px;
	}
.fp-overflow
	{
	align-items:flex-start;
	padding-left:50px;
	padding-right:50px;
	}
h	/*---website name---*/	
	{
	font-size: 2.4rem;
	font-weight:900;
	}
#menu
	{
	padding: 0 50px;
	height:30px;
	}
.section >h3
	{
	font-size:1.8rem;
	margin-left:50px;
	margin-bottom:0;
	top:30px;
	height:25px;
	}
.timelineContainer
	{
	padding: 10px 0 50px 0;
	overflow:auto;
	}
.timelineContainer >div
	{
	font-size:1.5rem;
	line-height:1.5;
	}

#timelineContainerS2
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}

#timelineContainerS2 h5, #timelineContainerS2 h6
	{ flex:50%}
#timelineContainerS2 h6
	{text-align:right;
	padding-right:10px;
	}
#timelineContainerS2 h5
	{
	font-size:1.5rem;
	text-align:left;
	margin-bottom:1rem;
	}

.fp-arrow 
	{ scale:60%;}

.dropMenu
	{ height:30px;}
.dropMenuContent
	{ top:30px; }
.dropMenuContent a
	{ padding:0 10px;}


}