/*---------------Color style------------------------*/
/*------https://coolors.co/palette/dfd3c3-f0ece3-f4c7ab-b2b8a3-5f8b7e----*/
/*------https://coolors.co/palette/0015ff-ff00a1-90fe00-8400ff-00fff7-ff7300	----*/
/*------https://coolors.co/visualizer/0015ff-ff00a1-90fe00-8400ff-00fff7-ff7300	----*/
/*------
1. html and body height and width
2. required
3. link style
4. general text size adjustment
5. font style and sizes
	- font styles
	- font size
	- custom font size
		- middle >p
6. header
	- 1st page header
	- menu header
	- dropmenu
		- container
		- icon
		- list
		- contents
		- contents anim
7. sections
	- pre-container
	- container
8. watermark
9. middle
10. xxxxxxx
11. colors

-------*/
/*---01---*/
/*---------------set html height to full page--------*/
html, body
	{
	width:100%;
	height:100%;
	margin: 0;
	}
/*---------------END set html height to full page----*/
/*---02---*/
/*---------------Req---------------------------------*/
* 	{box-sizing: border-box;}
/*---------------END Req-----------------------------*/
/*---03---*/
/*---------------Style the links---------------------*/
a	{
	text-decoration:none;
	color:unset;
	cursor:pointer;
	}

p a,
blockquote a	
	{
	text-decoration:underline;
	font-weight:450;
	color:#333333;
	}

p a:hover,
#backLink:hover,
blockquote a:hover
	{
	font-weight:bold;
	color:blue;
	}

#backLink	
	{
	text-decoration:underline;
	font-weight:450;
	padding:5px 0;
	}

/*---------------END Style the links-----------------*/
/*---04---*/
/*---------------Text size adjustment----------------*/
html	{
	-ms-text-size-adjust: 100%;		
	-webkit-text-size-adjust: 100%; 	
	}
	/*---Prevent iOS text size adjust after------*/
	/*---orientation change, without disabling---*/
	/*---user zoom.------------------------------*/

html	{
	font-size: 62.5%;
	}
	/*---10px--*/
body 	{
	font-family: 'NotoSansSymbols', sans-serif;
	}
/*---------------END Text size adjustment------------*/
/*---05---*/
/*---------------Style fonts-------------------------*/
	/*-------Font styles-------------------------*/
@font-face
	{
	font-family: 'NotoSansSymbols';
	src: local('NotoSansSymbols'), url('./assets/fonts/Noto_Sans_Symbols/NotoSansSymbols-VariableFont_wght.ttf') format('truetype');
	}

@font-face 
	{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url('./assets/fonts/Raleway/Raleway-Medium.woff') format('woff');
	}

@font-face 
	{
	font-family: 'Montserrat';
	src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
	}
@font-face 
	{
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(./assets/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format('woff');
	}

html	{
	font-family: 'NotoSansSymbols', sans-serif;
	}
	/*-------END Font styles---------------------*/
	/*-------Font size---------------------------*/
p	{
	margin: 0;
	line-height:1.6;
	}

h	/*---website name---*/	
	{
	font-family: 'NotoSansSymbols', sans-serif;
	font-size: 4.0rem;
	font-weight:900;
	line-height: 1.2;
	margin:0;
	}

h1, h2, h3, h4, h5, h6

	{
	font-family: 'NotoSansSymbols', sans-serif;
	margin-top: 0;
	margin-bottom: 2rem;
	}

h1	{ font-size: 4.0rem; line-height: 1.2;  }	/*---40px--*/
h2	{ font-size: 3.6rem; line-height: 1.25; }	/*---36px--*/
h3	{ font-size: 3.0rem; line-height: 1.3;  }	/*---30px--*/
h4	{ font-size: 2.4rem; line-height: 1.35; }	/*---24px--*/
h5	{ font-size: 1.8rem; line-height: 1.5;  }	/*---18px--*/
h6	{ font-size: 1.5rem; line-height: 1.6;  }	/*---15px--*/

	/*-------END Font size-----------------------*/
	/*-------Custom Font size--------------------*/
.middle >p
	{
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight:400;
	}

#refList p	/*---list of references---*/
	{
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight:350;
	}
blockquote
	{
	font-style:italic;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight:350;
	text-align:justify;
	}
	/*-------END Custom Font size----------------*/
/*---------------END Style fonts---------------------*/
/*---06---*/
/*---------------Style header------------------------*/
	/*-------main page 1st page header-----------*/
.header	{
	display:flex;
	align-items:center;
	width:50%;
	height:100px;
	z-index:4;
	position:relative;
	top:0;

	float:left;
	}
	/*-------END main page 1st page header-------*/
	/*-------standard menu header----------------*/
#menu	{
	margin-top:0;
	padding:0 20px;
	display:flex;
	justify-content:center;
	height:100px;
	width:100%;
	position:fixed;
	z-index:100;
	margin-left:auto;
	margin-right:auto;
	}
/*---
#menu a:hover
	{font-weight:900;}
---*/

#menu li
	{
	width:400px;
	display:flex;
	align-items:center;
	height:100%;
	}
ul	{ list-style:none;}
	/*-------END standard menu header------------*/
	/*-------drop down menu----------------------*/
		/*-------menu container--------------*/
.dropMenu
	{
	display:flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:right;
	-webkit-justify-content:right;
	width:50%;
	height:100px;
	z-index:4;
	position:relative;
	top:0;
	float:right;
	}

		/*-------END menu container----------*/
		/*-------menu icon-------------------*/
.dropMenuIcon div 
	{
	width: 35px;
	height: 5px;
	margin: 6px 0;
	cursor:pointer;
	}
		/*-------END menu icon---------------*/
		/*-------menu list-------------------*/
#menu li .dropMenu
	{ width:100%;}
		/*-------menu list-------------------*/
		/*-------menu contents---------------*/
.dropMenuContent
	{
	flex-direction:column;
	-webkit-flex-direction:column;
	display: none;
	top:64px;
	float:right;
	position: absolute;
	z-index: 100;
	font-size:1.2rem;
	}

.dropMenuContent a
	{
	padding:5px 10px;
	margin:2px 0;
	float: none;
	text-decoration: none;
	display: block;
	text-align: left;
	position:relative;
	opacity:0;
	min-width:250px;
	}

.dropMenu:hover .dropMenuContent
	{
	display: flex;
	display: -webkit-flex
	opacity:1;
	}
			/*----related contents-------*/
.dropMenuRelated
	{
	flex-direction:column;
	-webkit-flex-direction:column;
	display: none;
	margin-left:5px;
	float:right;
	position: relative;
	z-index: 100;
	font-size:1.2rem;
	}

.dropMenuRelated a
	{
	padding:5px 10px;
	margin:2px 0;
	text-decoration: none;
	display: block;
	text-align: left;
	position:relative;
	opacity:0;
	min-width:200px;
	}

/*-------------*/
.parentContainer:hover .dropMenuRelated
	{
	display: flex;
	display: -webkit-flex;
	opacity:1;
	}

.parentContainer:hover .dropMenuRelated a 
	{ animation:fadeUp 1s ease-in-out forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out forwards;}
/*-------------*/



			/*----END related contents---*/
		/*-------END menu contents-----------*/
		/*-------menu contents anim----------*/


.dropMenu:hover .dropMenuContent  #dropMenuContent01 
	{ animation:fadeUp 1s ease-in-out .25s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .25s forwards;}

.dropMenu:hover .dropMenuContent #dropMenuContent02 
	{ animation:fadeUp 1s ease-in-out .5s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .5s forwards;}

.dropMenu:hover .dropMenuContent #dropMenuContent03 
	{ animation:fadeUp 1s ease-in-out .75s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .75s forwards;}

.dropMenu:hover .dropMenuContent #dropMenuContent04
	{ animation:fadeUp 1s ease-in-out 1s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out 1s forwards;}

.dropMenu:hover .dropMenuContent #dropMenuContent05
	{ animation:fadeUp 1s ease-in-out 1.25s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out 1.25s forwards;}


.dropMenu:hover .dropMenuContent  #dMR01 
	{ animation:fadeUp 1s ease-in-out .25s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .25s forwards;}

.dropMenu:hover .dropMenuContent #dMR02
	{ animation:fadeUp 1s ease-in-out .5s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .5s forwards;}

.dropMenu:hover .dropMenuContent #dMR03 
	{ animation:fadeUp 1s ease-in-out .75s forwards;}
	{ -webkit-animation:fadeUp 1s ease-in-out .75s forwards;}

@keyframes fadeUp
	{
	0%	{
		top:10px;
		opacity:0;
		}
	100%	{
		top:0px;
		opacity:1;
		}
	}

@-webkit-keyframes fadeUp
	{
	0%	{
		top:10px;
		opacity:0;
		}
	100%	{
		top:0px;
		opacity:1;
		}
	}

.dropMenuContent a:hover
	{
	font-weight:900;
	}


		/*-------menu contents anim----------*/
	/*-------END drop down menu------------------*/

/*---------------END Style header--------------------*/
/*---07---*/
/*---------------Style Sections----------------------*/
	/*-------Style preContainer------------------*/
.fp-overflow
	{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	}
.fp-table
	{
	justify-content:flex-start;
	height:100%;
	}
	/*-------END Style preContainer--------------*/
	/*-------Style container---------------------*/
.container
	{
	width:800px;
	height:100%;
	padding:0 20px 20px 20px;
	}
/*--
#containerS1
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	height:80vh;
	}
--*/
.sContainer
	{
	width:800px;
	display:flex;
	justify-content:center;
	margin:0 60px;
 	align-items:center;
	}

#refContainer
	{
	display:flex;
	flex-direction:column;
	}

.sContainer h1
	{
	text-align:center;
	margin:0;
	}
.sContainer h1:hover
	{
	font-size: 4.5rem;
	font-weight:900;
	transition: font-weight 0.2s ease;
	}

	/*-------END Style container-----------------*/
/*---------------END Style Sections------------------*/
/*---08---*/
/*---------------Style watermark---------------------*/
.fp-warning, .fp-watermark
	{display:none}
/*---------------END Style watermark-----------------*/
/*---09---*/
/*---------------Style middle------------------------*/
.middle	{
	padding-top:20px;
	}
/*---------------END Style middle--------------------*/
/*---10---*/
/*---------------Style xxxxxxx-----------------------*/

/*---------------END Style xxxxxxx-------------------*/
/*---11---*/
/*---------------Style colors------------------------*/
	/*-------Style colors web site name + text---*/
h, .middle >p
	{color:#5F8B7E;}
li >h,
.sContainer h1
	{color:#F0ECE3;}


#section2 h,
#section2 .middle >p,
#section2 h2
	{color:#B20000;}

	/*-------END Style colors website name-------*/
	/*-------page colors-main page---------------*/
#section0	{ background-color:#F0ECE3;}
#section1	{ background-color:#5F8B7E;}/*--#5F8B7E--*/
#section2	{ background-color:#FFC59E;}

	/*-------END page colors-main page-----------*/
	/*-------link-Topics-------------------------*/
.sContainer h1:hover
	{ color:#F4C7AB; }

#refContainer h6
	{color:#F0ECE3;}

#refContainer h6:hover
	{color:#F4C7AB;}

	/*-------END link-Topics---------------------*/
	/*-------drop down menu----------------------*/
.dropMenuIcon div, .dropMenuContent a
	{background-color:#5F8B7E;}
/*---
li .dropMenuIcon:hover div
	{background-color:#DFD3C3;}
#dropMenuSec0 .dropMenuIcon:hover div
	{background-color:#F4C7AB;}
---*/

.dropMenuContent a
	{ color:#F0ECE3;}
	
li .dropMenuIcon div, li .dropMenuContent a
	{background-color:#F0ECE3;}

li .dropMenuContent a
	{ color:#5F8B7E;}

li .dropMenuContent a:hover
	{ text-decoration:none;}


	/*-----*/
#section2 .dropMenuIcon div,
#section2 .dropMenuContent a
	{background-color:#B20000;}

	/*-------END drop down menu------------------*/
/*---------------END Style colors--------------------*/
/*---12---*/


/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------RESPONSIVE DESIGN-------------------*/


/* iphone14 portrait ------------------------------ */
@media only screen
and (min-width: 320px) 
and (max-width: 528px) 
and (orientation : portrait), 
@media only screen
and (min-width: 320px) 
and (max-width: 532px) 
and (orientation : portrait)
{
h	/*---website name---*/	
	{
	font-size: 3.6rem;
	line spacing:1.25;
	font-weight:800;
	}
.middle >p 
	{
	font-size: 1.5rem;
	line-height: 1.5;
	text-align:justify;
	}
.container
	{
	width:300px;
	padding-top:0px;
	}
#menu, .header
	{ height:100px;}

.fp-arrow 
	{scale:60%;}

.dropMenuIcon div
	{
	width:20px;
	}


}

/* iphone14 landscape ------------------------------ */
@media only screen
and (min-width: 216px) 
and (max-width: 615px) 
and (orientation : landscape), 
@media only screen
and (min-width: 248px) 
and (max-width: 693px) 
and (orientation : landscape)
{
.container
	{
	width:unset;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}
h	/*---website name---*/	
	{
	font-size: 3.6rem;
	line spacing:1.25;
	font-weight:800;
	}
.middle >p 
	{
	font-size: 1.5rem;
	line-height: 1.5;
	text-align:justify;
	}

 #menu, .header, .dropMenu
	{ height:60px;}

.container .header
	{width:450px}
.container .dropMenu
	{flex:1}

#menu li:first-child
	{width:500px}
#menu li:nth-child(2)
	{flex:1}

.dropMenuIcon div
	{
	width:30px;
	}
}

/* iphone14 landscape -edge browser----------------- */
@media only screen
and (min-width: 248px) 
and (max-width: 693px) 
and (orientation : landscape)
{
.container
	{
	width:unset;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}
h	/*---website name---*/	
	{
	font-size: 3.6rem;
	line spacing:1.25;
	font-weight:800;
	}
.middle >p 
	{
	font-size: 1.5rem;
	line-height: 1.5;
	text-align:justify;
	}

 #menu, .header, .dropMenu
	{ height:60px;}

.container .header
	{width:450px}
.container .dropMenu
	{flex:1}

#menu li:first-child
	{width:500px}
#menu li:nth-child(2)
	{flex:1}

.dropMenuIcon div
	{
	width:30px;
	}
}
